@tailwind base;
@tailwind components;
@tailwind utilities;

.texture {
    background: url(/images/background-texture.gif) repeat;
}

.times {
    font-family: 'Times New Roman';
}

ul.list-disc {
    list-style: disc;
    list-style-position: inside;
}
