@tailwind base;
@tailwind components;
@tailwind utilities;

.texture {
    background: url(/images/background-texture.gif) repeat;
}

.times {
    font-family: 'Times New Roman';
}

ul.list-disc {
    list-style: disc;
    list-style-position: inside;
}

.video-frame {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

#pageant-announcement {
    border: 3px solid #1B4789;
    background-color: #d9e4f3;
}
